/*div{
  background: #396afc;
  background: -webkit-linear-gradient(to left, #2948ff, #396afc);
  background: linear-gradient(to left, #2948ff, #396afc);
}*/
.container-fluid{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redes{
  margin-right: 0.5em;
}
.redes img{
  margin: 0.2em;
}
#logoAP{
  width: 150px;
}
img{
  width: 50px;
}
.banner{
  width: 100%;
}
