<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/Perfil01.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <p id="nombre">Carlos Alberto Mansilla</p>
      <p id="carrera">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <span id="acerca">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, placeat excepturi provident accusantium, hic itaque consequatur officia obcaecati vitae blanditiis doloremque quasi nostrum! Architecto, perferendis! Molestiae architecto doloremque non cum?</p>
      </span>
    </div>
  </div>
</div>
